{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Registration form</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'register/css/style.css'%}">
  <link rel="stylesheet" type="text/css" href="{% static 'home/css/style.css' %}">

    
    <script type="text/javascript">
        var citiesByState = {
            AndraPradesh : ["Anantapur","Chittoor","East Godavari","Guntur","Kadapa","Krishna","Kurnool","Prakasam","Nellore","Srikakulam","Visakhapatnam","Vizianagaram","West Godavari"],
            ArunachalPradesh : ["Anjaw","Changlang","Dibang Valley","East Kameng","East Siang","Kra Daadi","Kurung Kumey","Lohit","Longding","Lower Dibang Valley","Lower Subansiri","Namsai","Papum Pare","Siang","Tawang","Tirap","Upper Siang","Upper Subansiri","West Kameng","West Siang","Itanagar"],
            Assam : ["Baksa","Barpeta","Biswanath","Bongaigaon","Cachar","Charaideo","Chirang","Darrang","Dhemaji","Dhubri","Dibrugarh","Goalpara","Golaghat","Hailakandi","Hojai","Jorhat","Kamrup Metropolitan","Kamrup (Rural)","Karbi Anglong","Karimganj","Kokrajhar","Lakhimpur","Majuli","Morigaon","Nagaon","Nalbari","Dima Hasao","Sivasagar","Sonitpur","South Salmara Mankachar","Tinsukia","Udalguri","West Karbi Anglong"],
            Bihar : ["Araria","Arwal","Aurangabad","Banka","Begusarai","Bhagalpur","Bhojpur","Buxar","Darbhanga","East Champaran","Gaya","Gopalganj","Jamui","Jehanabad","Kaimur","Katihar","Khagaria","Kishanganj","Lakhisarai","Madhepura","Madhubani","Munger","Muzaffarpur","Nalanda","Nawada","Patna","Purnia","Rohtas","Saharsa","Samastipur","Saran","Sheikhpura","Sheohar","Sitamarhi","Siwan","Supaul","Vaishali","West Champaran"],
            Chhattisgarh : ["Balod","Baloda Bazar","Balrampur","Bastar","Bemetara","Bijapur","Bilaspur","Dantewada","Dhamtari","Durg","Gariaband","Janjgir Champa","Jashpur","Kabirdham","Kanker","Kondagaon","Korba","Koriya","Mahasamund","Mungeli","Narayanpur","Raigarh","Raipur","Rajnandgaon","Sukma","Surajpur","Surguja"],
            Goa : ["North Goa","South Goa"],
            Gujarat : ["Ahmedabad","Amreli","Anand","Aravalli","Banaskantha","Bharuch","Bhavnagar","Botad","Chhota Udaipur","Dahod","Dang","Devbhoomi Dwarka","Gandhinagar","Gir Somnath","Jamnagar","Junagadh","Kheda","Kutch","Mahisagar","Mehsana","Morbi","Narmada","Navsari","Panchmahal","Patan","Porbandar","Rajkot","Sabarkantha","Surat","Surendranagar","Tapi","Vadodara","Valsad"],
            Haryana : ["Ambala","Bhiwani","Charkhi Dadri","Faridabad","Fatehabad","Gurugram","Hisar","Jhajjar","Jind","Kaithal","Karnal","Kurukshetra","Mahendragarh","Mewat","Palwal","Panchkula","Panipat","Rewari","Rohtak","Sirsa","Sonipat","Yamunanagar"],
            HimachalPradesh : ["Bilaspur","Chamba","Hamirpur","Kangra","Kinnaur","Kullu","Lahaul Spiti","Mandi","Shimla","Sirmaur","Solan","Una"],
            JammuKashmir : ["Anantnag","Bandipora","Baramulla","Budgam","Doda","Ganderbal","Jammu","Kargil","Kathua","Kishtwar","Kulgam","Kupwara","Leh","Poonch","Pulwama","Rajouri","Ramban","Reasi","Samba","Shopian","Srinagar","Udhampur"],
            Jharkhand : ["Bokaro","Chatra","Deoghar","Dhanbad","Dumka","East Singhbhum","Garhwa","Giridih","Godda","Gumla","Hazaribagh","Jamtara","Khunti","Koderma","Latehar","Lohardaga","Pakur","Palamu","Ramgarh","Ranchi","Sahebganj","Seraikela Kharsawan","Simdega","West Singhbhum"],
            Karnataka : ["Bagalkot","Bangalore Rural","Bangalore Urban","Belgaum","Bellary","Bidar","Vijayapura","Chamarajanagar","Chikkaballapur","Chikkamagaluru","Chitradurga","Dakshina Kannada","Davanagere","Dharwad","Gadag","Gulbarga","Hassan","Haveri","Kodagu","Kolar","Koppal","Mandya","Mysore","Raichur","Ramanagara","Shimoga","Tumkur","Udupi","Uttara Kannada","Yadgir"],
            Kerala : ["Alappuzha","Ernakulam","Idukki","Kannur","Kasaragod","Kollam","Kottayam","Kozhikode","Malappuram","Palakkad","Pathanamthitta","Thiruvananthapuram","Thrissur","Wayanad"],
            MadhyaPradesh : ["Agar Malwa","Alirajpur","Anuppur","Ashoknagar","Balaghat","Barwani","Betul","Bhind","Bhopal","Burhanpur","Chhatarpur","Chhindwara","Damoh","Datia","Dewas","Dhar","Dindori","Guna","Gwalior","Harda","Hoshangabad","Indore","Jabalpur","Jhabua","Katni","Khandwa","Khargone","Mandla","Mandsaur","Morena","Narsinghpur","Neemuch","Panna","Raisen","Rajgarh","Ratlam","Rewa","Sagar","Satna","Sehore","Seoni","Shahdol","Shajapur","Sheopur","Shivpuri","Sidhi","Singrauli","Tikamgarh","Ujjain","Umaria","Vidisha"],
            Maharashtra : ["Ahmednagar","Akola","Amravati","Aurangabad","Beed","Bhandara","Buldhana","Chandrapur","Dhule","Gadchiroli","Gondia","Hingoli","Jalgaon","Jalna","Kolhapur","Latur","Mumbai City","Mumbai Suburban","Nagpur","Nanded","Nandurbar","Nashik","Osmanabad","Palghar","Parbhani","Pune","Raigad","Ratnagiri","Sangli","Satara","Sindhudurg","Solapur","Thane","Wardha","Washim","Yavatmal"],
            Manipur : ["Bishnupur","Chandel","Churachandpur","Imphal East","Imphal West","Jiribam","Kakching","Kamjong","Kangpokpi","Noney","Pherzawl","Senapati","Tamenglong","Tengnoupal","Thoubal","Ukhrul"],
            Meghalaya : ["East Garo Hills","East Jaintia Hills","East Khasi Hills","North Garo Hills","Ri Bhoi","South Garo Hills","South West Garo Hills","South West Khasi Hills","West Garo Hills","West Jaintia Hills","West Khasi Hills"],
            Mizoram : ["Aizawl","Champhai","Kolasib","Lawngtlai","Lunglei","Mamit","Saiha","Serchhip","Aizawl","Champhai","Kolasib","Lawngtlai","Lunglei","Mamit","Saiha","Serchhip"],
            Nagaland : ["Dimapur","Kiphire","Kohima","Longleng","Mokokchung","Mon","Peren","Phek","Tuensang","Wokha","Zunheboto"],
            Odisha : ["Angul","Balangir","Balasore","Bargarh","Bhadrak","Boudh","Cuttack","Debagarh","Dhenkanal","Gajapati","Ganjam","Jagatsinghpur","Jajpur","Jharsuguda","Kalahandi","Kandhamal","Kendrapara","Kendujhar","Khordha","Koraput","Malkangiri","Mayurbhanj","Nabarangpur","Nayagarh","Nuapada","Puri","Rayagada","Sambalpur","Subarnapur","Sundergarh"],
            Punjab : ["Amritsar","Barnala","Bathinda","Faridkot","Fatehgarh Sahib","Fazilka","Firozpur","Gurdaspur","Hoshiarpur","Jalandhar","Kapurthala","Ludhiana","Mansa","Moga","Mohali","Muktsar","Pathankot","Patiala","Rupnagar","Sangrur","Shaheed Bhagat Singh Nagar","Tarn Taran"],
            Rajasthan : ["Ajmer","Alwar","Banswara","Baran","Barmer","Bharatpur","Bhilwara","Bikaner","Bundi","Chittorgarh","Churu","Dausa","Dholpur","Dungarpur","Ganganagar","Hanumangarh","Jaipur","Jaisalmer","Jalore","Jhalawar","Jhunjhunu","Jodhpur","Karauli","Kota","Nagaur","Pali","Pratapgarh","Rajsamand","Sawai Madhopur","Sikar","Sirohi","Tonk","Udaipur"],
            Sikkim : ["East Sikkim","North Sikkim","South Sikkim","West Sikkim"],
            TamilNadu : ["Ariyalur","Chennai","Coimbatore","Cuddalore","Dharmapuri","Dindigul","Erode","Kanchipuram","Kanyakumari","Karur","Krishnagiri","Madurai","Nagapattinam","Namakkal","Nilgiris","Perambalur","Pudukkottai","Ramanathapuram","Salem","Sivaganga","Thanjavur","Theni","Thoothukudi","Tiruchirappalli","Tirunelveli","Tiruppur","Tiruvallur","Tiruvannamalai","Tiruvarur","Vellore","Viluppuram","Virudhunagar"],
            Telangana : ["Adilabad","Bhadradri Kothagudem","Hyderabad","Jagtial","Jangaon","Jayashankar","Jogulamba","Kamareddy","Karimnagar","Khammam","Komaram Bheem","Mahabubabad","Mahbubnagar","Mancherial","Medak","Medchal","Nagarkurnool","Nalgonda","Nirmal","Nizamabad","Peddapalli","Rajanna Sircilla","Ranga Reddy","Sangareddy","Siddipet","Suryapet","Vikarabad","Wanaparthy","Warangal Rural","Warangal Urban","Yadadri Bhuvanagiri"],
            Tripura : ["Dhalai","Gomati","Khowai","North Tripura","Sepahijala","South Tripura","Unakoti","West Tripura"],
            UttarPradesh : ["Agra","Aligarh","Allahabad","Ambedkar Nagar","Amethi","Amroha","Auraiya","Azamgarh","Baghpat","Bahraich","Ballia","Balrampur","Banda","Barabanki","Bareilly","Basti","Bhadohi","Bijnor","Budaun","Bulandshahr","Chandauli","Chitrakoot","Deoria","Etah","Etawah","Faizabad","Farrukhabad","Fatehpur","Firozabad","Gautam Buddha Nagar","Ghaziabad","Ghazipur","Gonda","Gorakhpur","Hamirpur","Hapur","Hardoi","Hathras","Jalaun","Jaunpur","Jhansi","Kannauj","Kanpur Dehat","Kanpur Nagar","Kasganj","Kaushambi","Kheri","Kushinagar","Lalitpur","Lucknow","Maharajganj","Mahoba","Mainpuri","Mathura","Mau","Meerut","Mirzapur","Moradabad","Muzaffarnagar","Pilibhit","Pratapgarh","Raebareli","Rampur","Saharanpur","Sambhal","Sant Kabir Nagar","Shahjahanpur","Shamli","Shravasti","Siddharthnagar","Sitapur","Sonbhadra","Sultanpur","Unnao","Varanasi"],
            Uttarakhand  : ["Almora","Bageshwar","Chamoli","Champawat","Dehradun","Haridwar","Nainital","Pauri","Pithoragarh","Rudraprayag","Tehri","Udham Singh Nagar","Uttarkashi"],
            WestBengal : ["Alipurduar","Bankura","Birbhum","Cooch Behar","Dakshin Dinajpur","Darjeeling","Hooghly","Howrah","Jalpaiguri","Jhargram","Kalimpong","Kolkata","Malda","Murshidabad","Nadia","North 24 Parganas","Paschim Bardhaman","Paschim Medinipur","Purba Bardhaman","Purba Medinipur","Purulia","South 24 Parganas","Uttar Dinajpur"],
            AndamanNicobar : ["Nicobar","North Middle Andaman","South Andaman"],
            Chandigarh : ["Chandigarh"],
            DadraHaveli : ["Dadra Nagar Haveli"],
            DamanDiu : ["Daman","Diu"],
            Delhi : ["Central Delhi","East Delhi","New Delhi","North Delhi","North East Delhi","North West Delhi","Shahdara","South Delhi","South East Delhi","South West Delhi","West Delhi"],
            Lakshadweep : ["Lakshadweep"],
            Pondicherry : ["Karaikal","Mahe","Puducherry","Yanam"],
        }
        function makeSubmenu(value) {
        if(value.length==0) document.getElementById("citySelect").innerHTML = "<option></option>";
        else {
        var citiesOptions = "";
        for(cityId in citiesByState[value]) {
        citiesOptions+="<option>"+citiesByState[value][cityId]+"</option>";
        }
        document.getElementById("citySelect").innerHTML = citiesOptions;
        }
        }
        function displaySelected() { var country = document.getElementById("countrySelect").value;
        var city = document.getElementById("citySelect").value;
        alert(country+"\n"+city);
        }
        function resetSelection() {
        document.getElementById("countrySelect").selectedIndex = 0;
        document.getElementById("citySelect").selectedIndex = 0;
        }

        function formValidation()
        {
          //alert("hello world");
          
          var email=document.getElementById("email").value;
          if(email.indexOf("@")==-1|| email.lastIndexOf(".")==-1)
          {
            document.getElementById("emailspan").innerHTML="**invalid email";
            return false;
          }
        
        }
</script>

</head>
<body >
  <section class="img" onload="resetSelection()" style="background-image: url({% static 'register/images/health1.jpg'%}); width:100%;">
    <div  class="bg-color p-t-180 p-b-100 font-robo ftco-section" >
    
    <div class=""> 
    <div class="container">
      <!--form method="POST">
        {% csrf_token %--}
      <--body onload="resetSelection()"-->

                

          <div class="row justify-content-center">
            <div class="col-md-4 text-center mb-4">
              <h2 class="heading-section">Registration form</h2>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-md-3 col-lg-6">
              <div class="login-wrap">
                <h3 class="text-center mb-4">Create Your Account</h3>
                <form action="" method="POST" class="signup-form"  enctype="multipart/form-data">
                  {% csrf_token %}
                  <div class="form-group mb-2">
                    <label class="first_name" for="first_name">first Name</label>
                    <input type="text" id="first_name" name="first_name" class="form-control" placeholder="Enter first name" required="" />
                    <span class="icon fa fa-user-o"></span>
                  </div>
                  <div class="form-group mb-2">
                    <label class="last_name" for="last_name">last name</label>
                    <input type="text" id="last_name" name="last_name" class="form-control" placeholder="Enter last name" required="" />
                    <span class="icon fa fa-user-o"></span>
                  </div>
                  
                
                  {% comment %} <div class="form-group mb-2">
                    <label class="img" for="img">Select image:</label>
                    <!--label class="img" for="img">img</label-->
                    <input type="file" id="img" name="img" width="48" height="48" alt="Submit" placeholder="select file" accept="imgs/*">
                    <!--input type="image" src="img_submit.gif" alt="Submit" width="48" height="48"-->
                    <!--span class="icon fa fa-user-o"></span-->
                  </div> {% endcomment %}
                  <div class="form-group mb-2">
                    <label class="mobile_no" for="mobile_no">mobile no</label>
                    <input type="text" id="mobile_no" name="mobile_no" maxlength="10" class="form-control" placeholder="Enter mobile no" required="" />
                    <!--span class="icon fa fa-mobile"></span-->
                  </div>
                  <div>
                    <select class="select" name="blood_group">
                      <option value="1">Blood Group</option>
                      <option value="A+">A+</option>
                      <option value="A-">A-</option>
                      <option value="B+">B+</option>
                      <option value="B-">B-</option>
                      <option value="AB+">AB+</option>
                      <option value="AB-">AB-</option>
                      <option value="O+">O+</option>
                      <option value="O-">O-</option>
                    </select><br>
                  </div>
                  <div class="form-group mb-2">
                    <label class="address" for="address">address</label>
                    <input type="text" id="address" name="address"  class="form-control" placeholder="Enter address" required="" />
                    <span id="addressspan" style="color:red;"></span><br><br>
                    <!--span class="fa fa-address-card"></span-->
                  </div>
                  <div class="form-group mb-2">
                    <label class="address" for="Gender">gender</label><br>
                   {% comment %} <h6 class="mb-0 me-2">Gender:</h6><br> {% endcomment %}
                   <input class="form-check-input" type="radio" name="Gender" id="femaleGender" value="Female" />
                   <label class="form-check-label" for="femaleGender">Female</label><br>
                   <input
                   class="form-check-input" type="radio" name="Gender" id="maleGender" value="Male"/>
                   <label class="form-check-label" for="maleGender">Male</label><br>
                   <!--input class="form-check-input" type="radio" name="inlineRadioOptions" id="otherGender" value="option3"/>
                   <label class="form-check-label" for="otherGender">Other</label><br-->
                   <select id="countrySelect" size="1" name='state' onchange="makeSubmenu(this.value)">
                     <option value="" disabled selected>Choose State</option>
                           <option value="AndraPradesh">AndraPradesh</option>
                           <option value="ArunachalPradesh">ArunachalPradesh</option>
                           <option value="Assam">Assam</option>
                           <option value="Bihar">Bihar</option>
                           <option value="Chhattisgarh">Chhattisgarh</option>
                           <option value="Goa">Goa</option>
                           <option value="Gujarat">Gujarat</option>
                           <option value="Haryana">Haryana</option>
                           <option value="HimachalPradesh">HimachalPradesh</option>
                           <option value="JammuKashmir">JammuKashmir</option>
                           <option value="Jharkhand">Jharkhand</option>
                           <option value="Karnataka">Karnataka</option>
                           <option value="Kerala">Kerala</option>
                           <option value="MadhyaPradesh">MadhyaPradesh</option>
                           <option value="Maharashtra">Maharashtra</option>
                           <option value="Manipur">Manipur</option>
                           <option value="Meghalaya">Meghalaya</option>
                           <option value="Mizoram">Mizoram</option>
                           <option value="Nagaland">Nagaland</option>
                           <option value="Orissa">Orissa</option>
                           <option value="Punjab">Punjab</option>
                           <option value="Rajasthan">Rajasthan</option>
                           <option value="Sikkim">Sikkim</option>
                           <option value="Tamil Nadu">TamilNadu</option>
                           <option value="Telangana">Telangana</option>
                           <option value="Tripura">Tripura</option>
                           <option value="Uttaranchal">Uttaranchal</option>
                           <option value="UttarPradesh">UttarPradesh</option>
                           <option value="WestBengal">WestBengal</option>
                           <option disabled style="background-color:#aaa; color:#fff">UNION Territories</option>
                           <option value="AndamanNicobar">AndamanNicobar</option>
                           <option value="Chandigarh">Chandigarh</option>
                           <option value="DadraHaveli">DadraHaveli</option>
                           <option value="DamanDiu">DamanDiu</option>
                           <option value="Delhi">Delhi</option>
                           <option value="Lakshadweep">Lakshadweep</option>
                           <option value="Pondicherry">Pondicherry</option>
                    </select>
                    <select id="citySelect" size="1" name='district'>
                      <option value="" disabled selected>Choose District</option>
                      <option></option>
                    </select><br><br>
                    <div class="form-group mb-2">
                      <label class="dob" for="dob">DOB</label>
                      <input type="date" id="dob" name="dob" class="form-control" placeholder="Enter DOB" required />
                      <!--span class="fa fa-calendar"></span-->
                    </div>
                    <div class="form-group mb-2">
                      <label class="adhaar_no" for="adhaar_no">Adhaar No</label>
                      <input  type="text" id="adhaar_no" name="adhaar_no" class="form-control" maxlength="12" placeholder="Enter Adhaar no" pattern="[1-9]{1}[0-9]{11}" required/>
                      <!--span class="fa fa-id-card"></span-->
                    </div>
                    <div class="form-group mb-2">
                      <label class="pincode" for="pincode">Pincode</label>
                      <input type="text" id="pincode" name="pincode" class="form-control" maxlength="6" placeholder="Enter pincode" required="" />
                      <!--span class="fa fa-map-pin"></span-->
                    </div>
                    <div class="form-group mb-2"
                  
                    >
                      <label class="email" for="email">Email</label>
                      <input type="email" id="email" name="email" class="form-control" placeholder="name@example.com" required="" />
                      <span id="emailspan" style="color:red;"></span>
                      <!--span class="fa fa-envelope"></span-->
                    </div>
                    <div class="form-group">
                      <input type="submit" name="submit" value="submit" class="form-control btn btn-primary submit px-3"  onclick="formValidation()" / >
                    </div>
                  </form>
                  
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>
                
<script src="{% static 'registerjs/jquery.min.js'%}"></script>
<script src="{% static 'registerjs/popper.js'%}"></script>
<script src="{% static 'registerjs/bootstrap.min.js'%}"></script>
<script src="{% static 'registerjs/main.js'%}"></script>
</body>
</html>


                        

